@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li a{
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}
.hero{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.ham ul{
  background: linear-gradient(90deg, rgba(0,0,0,0.6), #ff004f);
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  height: 100vh;
  padding-top: 50px;
  z-index:2;
  scroll-behavior: none;
  transition-duration: 0.5s;
}

.ham ul li{
  display: block;
  margin: 25px;
}

.cross{
  position: absolute;
  top: 25px;
  left: 110px;
  z-index: 5;
  cursor: pointer;
}