
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background:transparent;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.7), #ff004f);
  color: #fff;
  border-radius: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 10px;
  transition: height 0.5s;
}
.layer h3{
  font-weight: 900;
  font-size: medium;
  margin-bottom: 10px;
}

.layer a{
  margin-top: 10px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.work .img{
  border-radius: 25px;
  width: 100%;
  display: block;
  transition: transform 0.5s;
}

.img:hover{
  transform: scale(1.04);
}
.relative:hover .layer{
  height: 100%;
}